<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <style>
    .errors{
      color :#FF0000;
      float:left;
      padding-left:53px;
    }
  </style>

  <meta charset="utf-8">
  <title>Document Management | Sign Up</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/style.css" />
  <link rel="stylesheet" href="/assets/style2.css" />
  <link rel="stylesheet" href="/assets/custom.css" />

  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <div id="headerSection">
    <div class="container">
      <div style="width:100%; float:left;">
        <center><h1><img src="<%= image_path('logo.png') %>"></h1></center>
      </div>



    </div>
  </div>
        <% if get_name_error(resource) || get_email_error(resource) || get_password_error(resource) || get_confirm_password_error(resource) %>
  <p class="alert">
    <%=  get_name_error(resource) if get_name_error(resource) %> <br/>
    <%= get_email_error(resource) if get_email_error(resource) %><br/>
    <%= get_password_error(resource) if get_password_error(resource) %><br/>
    <%= get_confirm_password_error(resource) if get_confirm_password_error(resource) %><br/>
  </p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="span2"></div>

      <div class="span8" id="content">
        <div style="width:550px; margin:0px auto;">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-horizontal"}) do |f| %>


        
            <h1>Sign Up</h1>
            <div class="control-group">
              <label class="control-label">Name:</label>
              <div class="controls">
                <%= f.text_field :name ,:required=> true,:required=>true, :placeholder=> "Name" ,:class=>"input-xlarge input-prepend" %>
              
              </div>

            </div>


            <div class="control-group">
              <label class="control-label">Email:</label>
              <div class="controls">
                <%= f.text_field :email , :required=> true,:required=>true, :placeholder=>"Email Id" ,:class=>"input-xlarge input-prepend" %>
                

              </div>
            </div>

            <div class="control-group" >
              <label class="control-label">Password:</label>
              <div class="controls">

                <%= f.password_field :password ,:required=> true, :class=>"input-xlarge input-prepend" ,:required=>true, :placeholder=>"Password"  %>
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Confirm Password:</label>
              <div class="controls">

                <%= f.password_field :password_confirmation , :required=> true,:class=>"input-xlarge input-prepend",:required=>true, :placeholder=>"Confirm Password"  %>
              
              </div>
            </div>



            <div class="control-group">
              <div class="controls">


                <%= f.submit "Sign up" , :id=>"signin" %>
              </div>

            </div>
            <div class="button" style="padding-top:20px;">
              <a href="<%= new_session_path(resource_name) %>">Sign in</a>
            </div>
          <% end %> <!-- form -->


        </div>

      </div>


    </div>

  </div>

  <%#*<footer style="width:100%; background:#999; padding:15px; position:absolute; bottom:0;">%>
    <%#*<div class="container">  <center>%>
      <%#*&copy;&nbsp;2013 All rights are reserved.%>
      <%#*</center>%>
    <%#*</div>%>
  <%#*</footer>%>




  <!-- end container -->
  <!-- JavaScript -->
  <script src="/assets/jquery-1.9.1.min.js"></script>
  <script src="/assets/main.js"></script>

  <script type="text/javascript">
    $("#signin" ).click(function() {
      $("#user_name").removeAttr("required");
      $("#user_email").removeAttr("required");
      $("#user_password").removeAttr("required");
      $("#user_password_confirmation").removeAttr("required");
    });

  </script>