<h1>Listing keyfindings</h1>

<table>
  <tr>
    <th>Document</th>
    <th>Keyfinding text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keyfindings.each do |keyfinding| %>
  <tr>
    <td><%= keyfinding.document_id %></td>
    <td><%= keyfinding.keyfinding_text %></td>
    <td><%= link_to 'Show', keyfinding %></td>
    <td><%= link_to 'Edit', edit_keyfinding_path(keyfinding) %></td>
    <td><%= link_to 'Destroy', keyfinding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyfinding', new_keyfinding_path %>
