<p id="notice"><%= notice %></p>

<p>
  <b>Document:</b>
  <%= @keyfinding.document_id %>
</p>

<p>
  <b>Keyfinding text:</b>
  <%= @keyfinding.keyfinding_text %>
</p>


<%= link_to 'Edit', edit_keyfinding_path(@keyfinding) %> |
<%= link_to 'Back', keyfindings_path %>
