<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#format" ).change(function() {
      $( "#datepicker" ).datepicker( "option", "dateFormat", $( this ).val() );
    });
  });
</script>

<div class="container">
  <div class="row">

    <div style="margin-left:40px;" id="content" class="span12">
      <h1 style="height:1px;"></h1>
      <div style="width:1050px; margin:0px auto;">
        <%= form_tag("/excelsheets/new", :multipart => true, :class => "form-horizontal") do %>

          <div style="width:94%; float:left; margin-left:-25px; border:1px solid #999; border-radius:5px; margin-bottom:14px; margin-left:30px;height:165px">
            <h4 style="background:#2F96B4;color:white;margin-top:0px;">Upload Excel Document</h4>
            <div style="width:50%; margin:0px auto; padding:20px;">
              <div class="control-group">
                <%= label_tag "Select Document","Select Document",{:class => "control-label", :style=>"margin-left:-50px;", :id=> "select_document"}  %>

                <div class="controls" style="">
                  <%= file_field_tag "excelsheet[excelsheet_file]",  :accept => 'xls/xlsx',:style=>"width:96px; margin-left:-100px;color: #F8F8F8;",:class=>"input-small",:required=>"required" %>
                  </br>
                  <%= submit_tag "Upload" ,{:id => "signin", :style=>"margin-left:20px;margin-top:29px;" } %>


                </div>
              </div>
            </div>
          </div>


        <% end %>
      </div>
      <label style="color:black;margin-top:231px;width:100px;margin-left:524px;">OR</label>
      <div style="width:1050px; margin:0px auto;">
        <%= nested_form_for(@document,:html => {:class=>"form-horizontal", :onsubmit => "validate()",:id=>"myform"}) do |f| %>
         <div style="width:94%; float:left; margin-left:-25px; border:1px solid #999; border-radius:5px; margin-bottom:14px; margin-left:30px;height:512px;">
          <h4 style="background:#2F96B4;color:white;margin-top:0px;">Enter Manually</h4>
          <div style="width:45%; float:left;margin-top:26px">
           <div class="control-group">
              <label class="control-label" style="width:175px;">PDF File:</label>
              <div class="controls" style="padding-left:32px;"> <%= f.file_field :pdf ,:id=>"pdf"%></div>
            </div>
             <div class="control-group">
              <label class="control-label">&nbsp;</label>
              <div class="controls">OR</div>
            </div>
             <div class="control-group">
              <label class="control-label">Document Link</label>
              <div class="controls"><input type="text" placeholder="PDF URL" class=""  name="document[pdf_url]" ,id="pdf_url"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Report Name</label>
              <div class="controls"><input type="text" placeholder="Report Name" class="" required="" name="document[report_name]" ></div>
            </div>

            <div class="control-group">
              <label class="control-label">Organizition Sponsoring report</label>
              <div class="controls"><input type="text" placeholder="Organizition Sponsoring report" class="" required="" name="document[sponsoring_orgnization]"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Finding</label>
              <div class="controls"><a class="btn btn-info" style="width:80px;" href=""  data-toggle="modal" data-target="#key_finding">Add</a></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Words</label>
              <div class="controls"><input type="text" placeholder="Keywords" name="document[keywords_attributes][12345][keyword_text]" id="keywords"></div>
            </div>

           


          

          </div>

          <div style="width:45%; float:left; margin-bottom:35px;margin-top:26px">
            <div class="control-group">
              <label class="control-label">Author</label>
              <div class="controls"><input type="text" placeholder="Author" class="" required="" name="document[author]" ></div>
            </div>

            <div class="control-group">
              <label class="control-label">Date of Report</label>
              <div class="controls">
                <input type="text" id="datepicker" size="30"  name="document[date_of_report]">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Recommendations</label>
              <div class="controls"><input type="text" placeholder="Key Recommendations" class="" required="" name="document[key_recommendations]"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Ages</label>
              <div class="controls"><input type="text" placeholder="Key Ages" class="" required="" name="document[key_ages]" id="key_ages"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Target Population</label>
              <div class="controls"><input type="text" placeholder="Target Population" class="" required="" name="document[target_population]"></div>
            </div>
  <div class="control-group">
              <label class="control-label">Data Availability</label>
              <div class="controls"><input type="text" placeholder="Data Availability" class="" required="" name="document[data_availablity]" >
              </div>
            </div>
 <div class="control-group">
              <label class="control-label">Notes on Methodology</label>
              <div class="controls"><input type="text" placeholder="Notes on Methodology" class="" required="" name="document[key_ages]"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <p style="margin-left:142px;"><button id="signin" type="submit" style="margin-left:97px;margin-top:-7px">Submit</button></p>
            </div>
          </div>
          
          </div>
          <%= render :partial => "key_findings", :locals => {:f => f} %>

        <% end %>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#keywords").tokenInput("/keywords/get_keywords", {
      theme: "facebook",
      propertyToSearch: "keyword_text",
      tokenValue: "keyword_text"
    });
  });
  function validate(){
    var error=false;
    $('.key_finding').each(function(i,d){
      if($(d).val()==''){
        error=true;
      }
    });
    if(error){
      alert("Please enter keyfinding text")
    }
    else{
      $('#modal_submit').click();
      $(".modal-backdrop").hide()
    }
  }



</script>
