<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#format" ).change(function() {
      $( "#datepicker" ).datepicker( "option", "dateFormat", $( this ).val() );
    });
  });
</script>

<div class="container">
  <div class="row">

    <div style="margin-left:40px;" id="content" class="span12">
      <h1 style="height:1px;"></h1>
      <div style="width:1050px; margin:0px auto;">
        <%= form_tag("/excelsheets/new", :multipart => true, :class => "form-horizontal") do %>
          <div style="width:100%; float:left; margin-left:-25px;">
            <div style="width:100%; float:left; margin-left:-25px;">
              <div style="width:50%; margin:0px auto; padding:20px;">
                <div class="control-group">
                  <div class="controls">
                    <%= label_tag "Select Document","Select Document",{:class => "control-label"}  %>
                    <%= file_field_tag "excelsheet[excelsheet_file]", :class=>"input-small",:required=>"required" %>
                    <%= submit_tag "upload", {:class => "upload_button"} %>
                  </div>
                  <div class="controls"><a href="#" style="width:90px; margin-top:73px;" class="btn btn-info">Or</a></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div style="width:1050px; margin:0px auto;">
        <%= nested_form_for(@document,:html => {:class=>"form-horizontal", :onsubmit => "validate()"}) do |f| %>
          <div style="width:45%; float:left;">
            <div class="control-group">
              <label class="control-label">Report Name</label>
              <div class="controls"><input type="text" placeholder="Report Name" class="" required="" name="document[report_name]" ></div>
            </div>

            <div class="control-group">
              <label class="control-label">Organizition Sponsoring report</label>
              <div class="controls"><input type="text" placeholder="Organizition Sponsoring report" class="" required="" name="document[sponsoring_orgnization]"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Finding</label>
              <div class="controls"><a class="btn btn-info" style="width:80px;" href=""  data-toggle="modal" data-target="#key_finding">Add</a></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Words</label>
              <div class="controls"><input type="text" placeholder="Keywords" name="document[keywords_attributes][12345][keyword_text]" id="keywords"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Notes on Methodology</label>
              <div class="controls"><input type="text" placeholder="Notes on Methodology" class="" required="" name="document[key_ages]"></div>
            </div>


            <div class="control-group">
              <label class="control-label">Data Availability</label>
              <div class="controls"><input type="text" placeholder="Data Availability" class="" required="" name="document[data_availablity]" >
              </div>
            </div>

          </div>

          <div style="width:45%; float:left; margin-bottom:35px;">
            <div class="control-group">
              <label class="control-label">Author</label>
              <div class="controls"><input type="text" placeholder="Author" class="" required="" name="document[author]" ></div>
            </div>

            <div class="control-group">
              <label class="control-label">Date of Report</label>
              <div class="controls">
                <input type="text" id="datepicker" size="30"  name="document[date_of_report]">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Recommendations</label>
              <div class="controls"><input type="text" placeholder="Key Recommendations" class="" required="" name="document[key_recommendations]"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Key Ages</label>
              <div class="controls"><input type="text" placeholder="Key Ages" class="" required="" name="document[key_ages]" id="key_ages"></div>
            </div>

            <div class="control-group">
              <label class="control-label">Target Population</label>
              <div class="controls"><input type="text" placeholder="Target Population" class="" required="" name="document[target_population]"></div>
            </div>


          </div>

          <div class="control-group">
            <div class="controls">
              <p style="margin-left:142px;"><button id="signin" type="submit">Submit</button></p>
            </div>
          </div>

          <%= render :partial => "key_findings", :locals => {:f => f} %>

        <% end %>

      </div>
    </div>

  </div>



</div>


<footer style="width:100%; background:#999; padding:15px; margin-top:12%;margin-left:-2%; position:fixed;">
  <div class="container">
    &#169;&nbsp;<%= Time.now.year %> All rights are reserved.
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function () {
    $("#keywords").tokenInput("/keywords/get_keywords", {
      theme: "facebook",
      propertyToSearch: "keyword_text",
      tokenValue: "keyword_text"
    });
  });
  function validate(){
    var error=false;
    $('.key_finding').each(function(i,d){
      if($(d).val()==''){
        error=true;
      }
    });
    if(error){
      alert("Please enter keyfinding text")
    }
    else{
      $('#modal_submit').click();
      $(".modal-backdrop").hide()
    }
  }
</script>
<style>
  .upload_button{
    background: -moz-linear-gradient(center top , #FEE79A 0%, #FEC151 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D69E31;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color: #85592E;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica,Arial,sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
  }
</style>