- unless @page_title.nil?
  .row
    .col-md-12
      %h1= @page_title

- unless params[:search].present? || params[:age_range].present?
  .row
    .col-md-6
      = render 'slides'

    .col-md-6
      %h3 Introductory Text
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat pulvinar leo, consequat volutpat turpis convallis ut. Nullam velit nisi, blandit quis sapien id, mollis laoreet ante. Ut vel fringilla sapien. Integer eu diam mi. Cras orci orci, porta et neque id, tincidunt lacinia ligula. Pellentesque hendrerit, neque et pulvinar ultricies, odio orci laoreet ligula, et fermentum sem dui et mi. Aliquam in ligula consequat, egestas dui vitae, sagittis risus. Suspendisse mollis non neque at dapibus. Quisque porta blandit ligula vel suscipit. Maecenas viverra suscipit sem sit amet viverra. Nullam vitae diam vitae erat aliquet vulputate eu quis sem. Sed non lectus sollicitudin, iaculis erat a, venenatis risus.

.row
  .col-md-12
    %table.table-bordered
      %tr
        %th Report name
        %th Keyfindings
        %th Keywords

        - if user_signed_in?
          %th Change keyfindings/keywords

      - @documents.each do |document|
        %tr
          %td= document.link.present? ? link_to(document.report_name, document.link, target: "_blank") : document.report_name
          %td

            - if document.keyfindings.present?
              - document.keyfindings.each do |kf|
                %p= kf.keyfinding_text

            - else
              {none}

          %td= display_keywords(document.keywords)

          - if user_signed_in?
            %td= render "kf_kw_modal", document: document

= render 'documents/slides_javascripts'