= nested_form_for document do |f|

  %strong Keyfindings
  #findings
    = f.fields_for :keyfindings do |keyfindings_form|
      = keyfindings_form.text_field :keyfinding_text
      = keyfindings_form.link_to_remove "Remove"
    %p= f.link_to_add "Add a keyfinding", :keyfindings

  %strong Keywords
  #keywords
    = f.fields_for :keywords do |keywords_form|
      = keywords_form.text_field :keyword_text
      = keywords_form.link_to_remove "Remove", "data-target" => "#keywords"
    %p= f.link_to_add "Add a keyword", :keywords

  %p= f.submit "Update"
