- unless params[:search].present? || params[:age_range].present?
  .row
    .col-lg-12
      = image_tag "PCYI_hompage_banner.png", alt: ENV['SITE_NAME'], class: "img-responsive img-rounded"

  .row
    .col-lg-6.hidden-xs
      = render 'slides'

    .col-lg-6
      = render 'introductory_text'

.row
  .col-lg-12
    = render 'documents/filter_and_search'

.row
  .col-lg-12

    - if @page_title.present?

      %h3= "#{@page_title} (#{pluralize(@documents.count, 'result')})"

    - if @documents.empty?
      No documents match search criteria. Please search again.
    - else
      %table.table.table-bordered
        %tr
          %th Report name
          %th Key findings
          %th Keywords
          %th Published

          - if user_signed_in?
            %th Change keyfindings/keywords

        - @documents.each do |document|
          %tr
            %td= document.link.present? ? link_to(document.report_name, document.link, target: "_blank") : document.report_name
            %td

              - if document.keyfindings.present?
                - document.keyfindings.each do |kf|
                  %p= kf.keyfinding_text

              - else
                N/A

            %td= display_keywords(document.keywords)
            %td= document.publication_date

            - if user_signed_in?
              %td= render "kf_kw_modal", document: document

= render 'documents/slides_javascripts'
