- unless params[:search].present? || params[:age_range].present?
  .row
    .col-lg-12
      = image_tag "PCYI_hompage_banner.jpg", alt: ENV['SITE_NAME'], class: "img-responsive img-rounded"

  .row
    .col-md-6.hidden-sm.hidden-xs
      = render 'slides'

    .col-md-6
      = render 'introductory_text'

.row
  .col-lg-12

    - if @page_title.present?

      %h3= "#{@page_title} (#{pluralize(@documents.count, 'result')})"

    - if @documents.empty?
      No documents match search criteria. Please search again.
    - else
      %table.table.table-bordered
        %tr
          %th Report name
          %th Key findings
          %th Keywords
          %th Year published

          - if user_signed_in?
            %th Change key findings and keywords

        - @documents.each do |document|
          %tr
            %td= document.link.present? ? link_to(document.report_name, document.link, target: "_blank") : document.report_name
            %td

              - if document.keyfindings.present?
                - document.keyfindings.each do |kf|
                  %p= kf.keyfinding_text

              - else
                %p.light
                  = "We haven't catalogued all the key findings from this report yet. If you'd like to help, #{mail_to(ENV['MANAGER_EMAIL'], 'drop us a line!')}".html_safe

            %td
              - if document.keywords.empty?
                %p.light
                  N/A
              - else
                = display_keywords(document.keywords)
            %td= document.publication_date

            - if user_signed_in?
              %td= render "kf_kw_modal", document: document

= render 'documents/slides_javascripts'
