<p id="notice"><%= notice %></p>

<p>
  <b>Report name:</b>
  <%= @document.report_name %>
</p>

<p>
  <b>Author:</b>
  <%= @document.author %>
</p>

<p>
  <b>Sponsoring orgnization:</b>
  <%= @document.sponsoring_orgnization %>
</p>

<p>
  <b>Date of report:</b>
  <%= @document.publication_date %>
</p>

<p>
  <b>Key recommendations:</b>
  <%= @document.key_recommendations %>
</p>

<p>
  <b>Key ages:</b>
  <%= @document.key_ages %>
</p>

<p>
  <b>Notes on mythodology:</b>
  <%= @document.notes_on_mythodology %>
</p>

<p>
  <b>Target population:</b>
  <%= @document.target_population %>
</p>

<p>
  <b>Data availablity:</b>
  <%= @document.data_availablity %>
</p>

<p>
  <b>User:</b>
  <%= @document.user_id %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
