%h3 Contact us


%p
  = "At the #{link_to 'Peel Children and Youth Initiative (PCYI)', 'http://www.pcyi.org/', target: '_blank'} our mission is to provide every child, youth and young adult (0-24 years) with the opportunity to live in a safe and healthy environment, realize their potential and achieve success, and contribute to their community in meaningful ways. To do this well, we rely on our community partners and the ideas and insights of the children, youth and families who live in Peel.".html_safe

%p
  = "For information about this Research Shop please contact #{ENV['MANAGER_NAME']}, Research Manager, #{mail_to(ENV['MANAGER_EMAIL'], ENV['MANAGER_EMAIL'])}.".html_safe
