%li
  %a{'href' => '#advsearch', "data-toggle" => "collapse"}
    Advanced search

%li= link_to 'Dashboard', step_up_path
%li= link_to 'OSDUHS Dashboard', osduhs_setup_up_path
%li= link_to 'Data Viz Library', data_viz_library_path
%li= link_to 'Contact us', contact_us_path
%li= link_to 'About us', about_us_path
