!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : ENV['SITE_NAME']
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : ENV['SITE_NAME']}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %main{:role => "main"}
      %header
        -#= render 'layouts/navigation' unless request.path.eql?(root_path) || request.path.eql?(new_user_session_path)
        = render 'layouts/header'
        = render 'layouts/new_navigation'
        = render 'layouts/advanced_search'
      = render 'layouts/messages'
      = yield
      -#= render 'layouts/user_account_controls'
