<!DOCTYPE html>
<html>
  <head>
    <title>DocumentManagementFinal</title>
    <% if params[:controller]!="devise/registrations"   %>
      <%= stylesheet_link_tag    "application" %>
      <%#= stylesheet_link_tag :all   %>
    <% end %>
     <%#= javascript_include_tag :all   %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    
    <% unless notice.blank? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.blank? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
 
</body>
</html>
